 
 /*variable create */
 html,body{
     background-color:#333;
 }
 a{
    text-decoration: none;
 }
.logo{
    font-size: 30px;   
}
 .logo h1{
    color:yellow;
}
.logo span{
   color:#c7ffd4;
}

.sidbar{
    width: 500px; background: orange;position: fixed; z-index: 7; margin-top: 80px;display:none;
}
.sidbar li {
    line-height: 50px;
    list-style: none;
    
}
.sidbar li {
    line-height: 50px;
    list-style: none;
    
}
.tach li {
    line-height: 50px;
    list-style: none;
    
}
.sidbar li a{
    text-decoration: none;
}


#home img{
  
    height: 500px;
    width:1365px;
    position: relative;
    overflow: hidden;


}
.set-shadow{
    position:absolute;
    bottom: 0;
    background-color:rgba(10, 10, 10, 0.239);
    height:100%;
    width:100%;

}
.dropdown-menu .ul{
    background:rgb(132, 0, 255);
}
.dropdown .dropdown-menu li{
    list-style: none;
    display:block;
   
}
.dropdown .dropdown-menu li a{
  line-height: 30px;
  padding-left:13px;
  text-decoration: none;
  color:white;
}
.dropdown .dropdown-menu ul {
    padding:0px;
    margin:0px;
}

.dropdown .dropdown-menu li:hover{
   
    border-left:solid rgb(209, 1, 1) 2px;
    background-color: #9E9E9E;

}

.dropdown div {
 
  background-color: #00000082;
  border-radius: 4px;
  
}
