 
 /*variable create */
 html,body{
     background-color:#333;
 }
 .onpicbtn{
     overflow: hidden;
         display:inline-block;
 }
 #picbtn li {
    
    line-height:10px;
    padding:0px;
 }
 #picbtn{
   
 }
 a{
    text-decoration: none;
 }
.logo{
    font-size: 30px;   
}
 .logo h1{
    color:yellow;
}
.logo span{
   color:#c7ffd4;
}

.sidbar{
    width: 500px; background: orange;position: fixed; z-index: 7; margin-top: 80px;display:none;
}
.sidbar li {
    line-height: 50px;
    list-style: none;
    
}
.sidbar li {
    line-height: 50px;
    list-style: none;
    
}
.tach li {
    line-height: 50px;
    list-style: none;
    
}
.sidbar li a{
    text-decoration: none;
}


#home img{
  
    height: 500px;
    width:1365px;
    position: relative;
    overflow: hidden;


}
.set-shadow{
    position:absolute;
    bottom: 0;
    background-color:rgba(10, 10, 10, 0.239);
    height:100%;
    width:100%;

}
.dropdown-menu .ul{
    background:rgb(132, 0, 255);
}
.dropdown .dropdown-menu li{
    list-style: none;
    display:block;
   
}
.dropdown .dropdown-menu li a{
  line-height: 30px;
  padding-left:13px;
  text-decoration: none;
  color:white;
}
.dropdown .dropdown-menu ul {
    padding:0px;
    margin:0px;
}

.dropdown .dropdown-menu li:hover{
   
    border-left:solid rgb(209, 1, 1) 2px;
    background-color: #9E9E9E;

}

.dropdown div {
 
  background-color: #00000082;
  border-radius: 4px;
  
}


/* //////////post //////////////*/
.post1{
    background:rgb(9, 39, 59);
  

}
.post2{
    background:rgb(148, 125, 49);
    display:none;

}
.post3{
    background:rgb(59, 9, 34);
    display:none;

}
.post1,.post2,.post3 .container{
    max-height:200px;
    color:rgb(224, 223, 223);
    text-align: center;
    padding: 30px;
   
}
.area{
    background:yellow;
    height:0vh;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.triangle{
    /* height: 200px;
   width:200px;
   background:red; */
   margin: auto;
   border-top: 50px solid rgb(53, 50, 50);
   border-left: -12px solid  transparent;
   border-right: 35px solid transparent;
   border-bottom: -6px solid transparent;
   position: absolute;
   position: fixed;
   bottom:533px;
   right: 390px;
   z-index: 9;
}
.triangle2{
    /* height: 200px;
   width:200px;
   background:red; */
   margin: auto;
   border-top: 50px solid rgb(53, 50, 50);
   border-left: -12px solid  transparent;
   border-right: 35px solid transparent;
   border-bottom: -6px solid transparent;
  transform:rotateY(180deg);
   position: absolute;
   position: fixed;
   bottom:533px;
   left: 390px;
   z-index: 9;
}

